# python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
*.egg-info/
*.dist-info/

# IDE
.vscode/
*.suo
*.user
*.code-workspace

# audio / large generated images
*.jpg
*.wav
test*/
path/
future/
_old/
*.mpp
*.log
temp

# claude
.claude/
claude.md